# Ignore any Twitter API keys file #
twitter_api_keys.*

# Ignore all the files inside .ipynb_checkpoints directory #
.ipynb_checkpoints/

# Packages #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
*.log
*.sql
*.sqlite

# Environments #
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/